ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
li.completed {
    text-decoration: line-through;
}

/* styling ui */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
   background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
   background-repeat: no-repeat;
}
.header{
    display: flex;
    justify-content: center;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
